@{
    ViewData["Title"] = "Index";
}

<div class="container justify-content-center registrationForm">

    <form asp-action="LogMeIn">

        <div class="form-group col-md">
            <label for="email">Email</label>
            <input name="email" type="email" class="form-control" id="emailAddress" placeholder="Email" />
        </div>
        <div class="form-group col-md">
            <label for="firstName">First Name</label>
            <input name="firstName" type="firstName" class="form-control" id="firstName" placeholder="firstName" />
        </div>

        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>

</div>

<a href="/">Back to Home</a>