@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Friend!</h1>
    <p>Please <a href="/Register">Register</a> or <a href="/Login">Login</a></p>
</div>


